.wrapper {
  padding: 10px;
}

.table{
  margin: 0 auto;

  &__cell {
    padding: 0 5px;
  }

  &__cell--hover:hover {
    font-weight: bold;
  }
}

.list {
  &__mat-card {
    width: 100%;
  }
}

.form {
  width: 100%;
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;

  &__item {
    width: 40%;
  }

  &__button {
    border-radius: 20px;
  }
}

.button__add {
  display: block;
  margin: 20px auto 10px auto;
}

.spinner {
  margin: 50px auto 0 auto;
}
